
@model DMCProject1.Models.PatternColor

@using (Html.BeginCollectionItem("colors"))
{
    <tr>
        <td>
            @Html.HiddenFor(m => m.PCId)
            @Html.HiddenFor(m => m.PCId)
            @Html.TextBoxFor(m => m.DmcId)
        </td>
        <td>
            @Html.TextBoxFor(m => m.NumStitches)
        </td>
        @*<td style="background-color:@item.HexaDecimal">*@
           
        <td>
            <button type="button" id="removeItem_@Model.PCId">Delete</button>
        </td>



    </tr>

    <script>
        $("#removeItem_@Model.PCId").on('click', function (e) {
            $(this).closest('tr').remove();
            console.log(e);
        });
    </script>
}