@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DMC </h1>
    <p class="lead">Hi! This is an DMC collection .... where you are able to keep track of your DMC thread colors and the amount of thread you have.</p>
    <p> You are also able to add patterns and compare your color collection to the pattern you want to make.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Owned Colors</h2>
        <p>
            Here you can add, delete and edit all the colors you have in your collection. You can see the colors of the thread you have and how much you have available!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("User Colors", "Index", "UserColor") </p>
    </div>
    <div class="col-md-4">
        <h2>Patterns</h2>
        <p>In Patterns you can add new patterns to your collection! It is also possible to edit or delete patterns you added before.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Patterns", "Index", "Pattern")</p>
    </div>
    <div class="col-md-4">
        <h2>Comparisons</h2>
        <p>With comparisons you are able to compare a patterns you added to the colors you have. In this way you can quickly see which colors you already own for the pattern!</p>
        <p>It is also possible to see which alternative colors you can use for your pattern and which colors you should buy to be able to complete your pattern.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Comparison", "Index", "Comparison")</p>
    </div>
</div>