@model DMCProject1.Helpers.ComparisonIndexViewmodel

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>This is the place for comparisons!</p>
<p>Select a Pattern from the dropdown list and click "Compare". </p>
<p>In the next window it will show you all the colors you already have, the alternative colors you can use for your pattern and the colors you should buy to be able to complete your pattern.</p>

<table class="table">

</table>
    @using (Html.BeginForm("Comparison", "Comparison"))
    {
        @Html.AntiForgeryToken()

        @Html.DropDownListFor(m => m.PatternId, new SelectList(Model.Patterns, "PatternId", "Name"), "Select Pattern")


        <input type="submit" value="Compare" onclick="window.location.href=https://localhost:44339/Comparison/Comparison"/>  
    }


    